body{
    background-color: #E5E5E5;
    box-sizing: border-box;
    padding: 0;
    margin: 0;}
header{
    background-color: white;
    width: auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;}   
    .burger{
        width: 42px;
        height: 24px;
        position: relative;
        cursor: pointer;
        padding-top: 20px;}
    .span{
       width: 30px;
       height: 4px;
       background-color: black;
       display: flex;
       flex-direction: column;
       border: none;}
    .span::before, .span::after{
        content: "";
        position: absolute;
        width: 30px;
        height: 4px;
        background-color: black;
        align-self: center;}
    .span::before{
        transform: translateY(-12px);}
    .span::after{
        transform: translateY(10px);}
    .container{
        background: #333333d3;
        width: 250px;
        height: 1000px;
        display: flex;
        flex-direction: row-reverse;
        padding: 25px;
        position: fixed;}
    .orverlay{
        position: absolute;
        width: 100%;
        height: 100%;}
    .modal{
        max-width: 200px;
        min-width: 50px;
        padding: 30px;
        border-radius: 5%;
        top: 5%;
        left: 50%;
        display: flex;
        justify-content: left;
        align-items: center;
        flex-direction: column;}
    .close_modal{
        padding: 8px 10px;
        border: none;
        background: none;
        color: white;
        font-size: 24px;
        margin-left: 50px;}
    .para{
        font-size: 18px;
        color: white;
        margin-right: 50px;}


footer{
    background-color: #2E10DD;
    width: auto;
    height: 200px;
}