body{
    background-color: #E5E5E5;
    box-sizing: border-box;
    padding: 0;
    margin: 0;}
header{
    background-color: white;
    width: auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;}   
    /* Menu Burger */
#button{
    width: 42px;
    height: 24px;
    position: relative;
    padding-top: 20px;}
.burger{
    width: 30px;
    height: 4px;
    background-color: black;
    display: flex;
    flex-direction: column;}
.burger::before, .burger::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: black;
    align-self: center;}
.burger::before{
    transform: translateY(-10px);}
.burger::after{
    transform: translateY(10px);}
    /* Fenêtre Modal */
.modal{
    background-color: black);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;}
.modal-content{
    background-color: rgba(7, 7, 7, .7);
    width: 250px;
    height: 600px;
    max-width: 25%;

}




footer{
    background-color: #2E10DD;
    width: auto;
    height: 200px;}