*{
    box-sizing: border-box;
}

html, body {
    padding: 25px;
    height: 100%;
}

body{
    background: url(Image/Desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
}


#content{
    display: flex;
    justify-content: space-between;
    padding: 150px;
 }
 .commu{
    background-image: url(Image/Commu.png);
    background-size: cover;
    width: 696px;
    height: 493px;

 }

.text{
    width: 520px;
    height: 225px
}

.title{
    font-family: 'Poppins', sans-serif;
    font-size: 600;
    color: white;
    font-size: 40px;
}

.subtitle{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 18px;
    line-height: 27px;
}

.register{
    background: url(Image/button.png);
    background-size: cover;
    width: 200px;
    height: 56px;
}
.register:hover{
    background: url(Image/Button2.png);
    background-size: cover;
}

.social{
    display: flex;
    justify-content: space-between;
    width: 152px;
    height: 40px;
    float: right;
}

@media screen and (max-width: 800px){
    body{
        background: url("Image/fontmobile.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #content{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-left: 370px;
    }

     .commu{
        background-image: url(Image/Commu.png);
        background-size: cover;
        width: 296px;
        height: 209px;
    }
    
    .text{
        text-align: center;
        width: 350px;
        height: 272px;
    }
    
    .title{
        font-family: 'Poppins', sans-serif;
        font-size: 600;
        color: white;
        font-size: 24px;
    }
    
    .subtitle{
        font-family: 'Open Sans', sans-serif;
        color: white;
        font-size: 16px;
        line-height: 24px;
    }
    
    .register{
        background: url(Image/button.png);
        background-size: cover;
        width: 200px;
        height: 56px;
    }
    .register:hover{
        background: url(Image/Button2.png);
        background-size: cover;
    }
    
    .social{
        display: flex;
        justify-content: space-between;
        width: 152px;
        height: 40px;
        margin-right: 135px;
    }
    
    
}

