*{
    box-sizing: border-box;
}

html, body {
    padding: 25px;
    height: 100%;
}

body{
    background: url(Image/Desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
}


@media screen and (max-width: 800px){
    body{
        background: url("Image/fontmobile.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}